@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk-Regular.woff2') format('woff2');
  font-weight: 400; /* Adjust weight if needed */
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold version */
  font-style: normal;
}